In [ ]:
import pandas as pd # for dataset cleaning
import numpy as np # for calculation
import seaborn as sns # for data visualisation 
import matplotlib.pyplot as plt # for plot the data
from sklearn.datasets import load_iris # dataset 
from sklearn.model_selection import train_test_split # split data for train and test
from sklearn.preprocessing import StandardScaler # used to imporve model performance 
from sklearn.linear_model import LogisticRegression # model 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix # matrix , accuracy , report

In [25]:
iris = load_iris() # dataset assigned to the variable iris
# print(iris)
# print(type(iris))
# print(iris.feature_names)
# print(iris.target_names)
# print(iris.data)
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target
df['species'] = df['species'].map({0:'setosa ', 1 : 'veriscolor', 2 : 'virginica'})

# print(iris.target_names)
df.head()
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica